<div id="eventlist">
    <h2>{{title}}</h2>

    <div class="ui relaxed divided list" id="event">
        <div class="item" *ngFor="let event of events | async" [class.selected]="event === selectedEvent" (click)="selectMatch(event)">
            <div class="right floated content">

                <div class="ui button" *ngIf="joinButton === false" (click)="onSelect(event)">Edit</div>
                <div class="ui button" *ngIf="joinButton === false">Delete</div>
            </div>
            <i class="large soccer middle aligned icon"></i>
            <div class="content">
                <a class="header">{{event.eventName}}</a>
                <div class="description">{{event.date}}</div>
            </div>
        </div>

    </div>

    <div class="detail" *ngIf="selectedEvent && selectedEvent.userId === auth.profile.sub">
        <event-detail [event]="selectedEvent"></event-detail>
    </div>

    <div *ngIf="selectedEvent">
        <app-players [eventKey]="selectedEvent.$key"></app-players>
    </div>

</div>