<html>
<body>

<div class="ui secondary pointing menu" ng-controller="navController">
		 <img id="logo" src="/assets/MAlogo.png" routerLink="/">

  <a class="item" routerLink="/topevents" routerLinkActive="active">
    Top events
  </a>
  <a class="item" routerLink="/search" routerLinkActive="active">
    My events
  </a>
  <a class="item" routerLink="/events" routerLinkActive="active">
    Search
  </a>
  <a class="item" *ngIf="auth.authenticated()" routerLink="/message" routerLinkActive="active">
    Message
  </a>
  <div class="right menu">
		<a class="ui item" routerLink="/profile" *ngIf="auth.authenticated()" routerLinkActive="active">
      Profile
    </a>
    <a class="ui item" (click)="auth.login()" *ngIf="!auth.authenticated()" routerLinkActive="active">
      Login
    </a>
		<a class="ui item" (click)="auth.logout()" *ngIf="auth.authenticated()" routerLink="/home" routerLinkActive="active">
      Logout
    </a>
  </div>
</div>
	 <h1>{{title}}</h1>
   <router-outlet></router-outlet>
 </body>

</html>
