<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>

<body>

    <div class="ui secondary pointing menu">
        <img id="logo" src="/assets/MAlogo.png" routerLink="/">

        <a class="item" routerLink="/topevents" routerLinkActive="active">
    Top events
  </a>
        <a class="item" routerLink="/search" routerLinkActive="active">
    Browse
  </a>
        <a class="item" routerLink="/events" *ngIf="auth.isAuthenticated()" routerLinkActive="active">
    My events
  </a>
        <a class="item" *ngIf="auth.isAuthenticated()" routerLink="/newevent" routerLinkActive="active">
    New event
  </a>
        <a class="item" *ngIf="auth.isAuthenticated()" routerLink="/message" routerLinkActive="active">
    Message
  </a>
        <div class="right menu">
            <a class="ui item" routerLink="/profile" *ngIf="auth.isAuthenticated()" routerLinkActive="active">
      Profile
    </a>
            <a class="ui item" (click)="auth.login()" *ngIf="!auth.isAuthenticated()" routerLinkActive="active">
      Login
    </a>
            <a class="ui item" (click)="auth.logout()" routerLink="/home" routerLinkActive="active" *ngIf="auth.isAuthenticated()">
      Logout
    </a>

        </div>
    </div>
    <!--<h1>{{title}}</h1>-->
    <router-outlet></router-outlet>
</body>

</html>