<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>

<body>

    <div class="ui secondary pointing menu">
        <img id="logo" src="/assets/MAlogo.png" routerLink="/">

        <!--<a class="item" routerLink="/topevents" routerLinkActive="active">Top events</a>-->

        <a class="item" *ngIf="auth.isAuthenticated()" routerLink="/search" routerLinkActive="active">Browse</a>
        <a class="item" *ngIf="auth.isAuthenticated()" routerLink="/events" routerLinkActive="active">My events</a>
        <a class="item" *ngIf="auth.isAuthenticated()" routerLink="/newevent" routerLinkActive="active">New event</a>
        <!--<a class="item" *ngIf="auth.isAuthenticated()" routerLink="/message" routerLinkActive="active">Message</a>-->

        <div class="right menu">
            <a class="item" id="notifications" *ngIf="auth.isAuthenticated()" (click)="showNotifications()"><i class="icon mail"></i>
            Notifications<div class="floating ui red label">{{nbOfNotifications}}</div></a>
            <a class="ui item" routerLink="/profile" *ngIf="auth.isAuthenticated()" routerLinkActive="active">Profile</a>
            <a class="ui item" (click)="auth.login()" *ngIf="!auth.isAuthenticated()" routerLinkActive="active">Login </a>
            <a class="ui item" (click)="auth.logout()" routerLink="/home" routerLinkActive="active" *ngIf="auth.isAuthenticated()">Logout</a>
        </div>
    </div>

    <router-outlet></router-outlet>

    <div class="ui custom popup bottom center" *ngFor="let newPlayer of newPlayers">
        <div class="ui one column center aligned grid">
            <div class="column"><i class="large soccer middle aligned icon"></i><b>{{newPlayer.nickname}}</b> has jooined event you created</div>
            <div class="divider"></div>
        </div>
    </div>

</body>

</html>