<div *ngIf="event">
    <h2>{{event.eventName}} details!</h2>

    <div class="ui equal width form">
        <div class="fields">
            <div class="field">
                <label>Event name</label>
                <input type="text" [(ngModel)]="name" placeholder="eventName">
            </div>
            <div class="field">
                <label>Place</label>
                <input type="text" [(ngModel)]="place" placeholder="place">
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <label>Date</label>
                <input type="date" [(ngModel)]="date" placeholder="date">
            </div>
            <div class="field">
                <label>Time</label>
                <input type="time" [(ngModel)]="time" placeholder="time">
            </div>
        </div>
        <button class="ui orange button" (click)="updateEvent()">Update event</button>
    </div>

</div>