<html *ngIf="!selectedCity">

<body>
    <div class="cities">
        <h1>Select your city of preference</h1>
        <div class="grbovi">
            <div class="wrapper" data-tooltip="Belgrade">
                <img id="cityLogo" *ngIf="selectedRegion === 'belgrade'" alt="Belgrade" src="../../assets/BG.png" (click)="selectCity($event.target.alt)">
            </div>
            <div class="wrapper" data-tooltip="Gornji Milanovac">
                <img id="cityLogo" *ngIf="selectedRegion === 'centralSerbia'" alt="Gornji Milanovac" src="../../assets/GM.png" (click)="selectCity($event.target.alt)">
            </div>
            <div class="wrapper" data-tooltip="Čačak">
                <img id="cityLogo" *ngIf="selectedRegion === 'centralSerbia'" alt="Čačak" src="../../assets/CA.png" (click)="selectCity($event.target.alt)">
            </div>
            <div class="wrapper" data-tooltip="Jagodina">
                <img id="cityLogo" *ngIf="selectedRegion === 'centralSerbia'" alt="Jagodina" src="../../assets/JA.png" (click)="selectCity($event.target.alt)">
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="ui left labeled icon button" routerLink="/search">
           <i class="ui left arrow icon"></i>Back</button>
    </div>
</body>

</html>