body{
  text-align: center;
    padding: center;
    

    margin:auto;
    margin-top: 100px;
     
      background: rgba(255,255,255,0.7);
      border-style: groove;
      height: 400px;
      width: 900px;   
      font-family: 'Open Sans', sans-serif; 

}
#GM{
  height: 150px;
  width: 150px;
}
#CA{
  height: 150px;
  width: 150px;
}
#JA{
  height: 150px;
  width: 150px;
}
