<!--<div>
    <div class="ui icon button" data-content="Add users to your feed">
       
  <i class="add icon"  routerLink="/cities" data-title="Centralna-Srbija" data-content="Centralna Srbija"></i>
</div>
    
</div>-->

<!--
<div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div>">
  <div class="image">
    <img src="../assets/centralnaSrbija.png">
  </div>-->
<div class="content">
  <div class="slikeiprilike">
        <div class="ui avatar image">
    <img id="centralnaSrbija" src="../assets/centralnaSrbija.png">
      <div class="ui icon button" data-tooltip="Central Serbia">
  <i class="add icon" routerLink="/cities"></i>

  </div>
  </div>

        <div class="ui avatar image">
    <img id="beograd" src="../assets/centralnaSrbija.png">
      <div class="ui icon button" data-tooltip="Belgrade">
  <i class="add icon" routerLink="/cities"></i>

  </div>
  </div>

        <div class="ui avatar image">
    <img id="vojvodina" src="../assets/centralnaSrbija.png">
      <div class="ui icon button" data-tooltip="Vojvodina">
  <i class="add icon" routerLink="/cities"></i>

  </div>
  </div>

        <div class="ui avatar image">
    <img id="istocnaSrbija" src="../assets/centralnaSrbija.png">
      <div class="ui icon button" data-tooltip="East Serbia">
  <i class="add icon" routerLink="/cities"></i>

  </div>
  <br>
  </div>

        <div class="ui avatar image">
    <img id="zapadnaSrbija" src="../assets/centralnaSrbija.png">
      <div class="ui icon button" data-tooltip="West Serbia">
  <i class="add icon" routerLink="/cities"></i>

  </div>
  </div>
  
        <div class="ui avatar image">
    <img id="juznaSrbija" src="../assets/centralnaSrbija.png">
      <div class="ui icon button" data-tooltip="South Serbia">
  <i class="add icon" routerLink="/cities"></i>

  </div>
  </div>
</div>

