<div class="content" *ngIf="!selectedRegion">
    <h2>Select region</h2>
    <div class="slikeiprilike">
        <div class="ui avatar image" data-tooltip="Central Serbia" (click)="selectRegion('centralSerbia')">
            <img id="centralnaSrbija" src="../assets/centralnasrbija.jpg">
        </div>
        <div class="ui avatar image" data-tooltip="Belgrade" (click)="selectRegion('belgrade')">
            <img id="beograd" src="../assets/beograd.jpg">
        </div>
        <div class="ui avatar image" data-tooltip="Vojvodina" (click)="selectRegion('vojvodina')">
            <img id="vojvodina" src="../assets/vojvodina.jpg">
        </div>
        <div class="ui avatar image" data-tooltip="East Serbia" (click)="selectRegion('eastSerbia')">
            <img id="istocnaSrbija" src="../assets/istocnasrbija.jpg">
            <br>
        </div>
        <div class="ui avatar image" data-tooltip="West Serbia" (click)="selectRegion('westSerbia')">
            <img id="zapadnaSrbija" src="../assets/zapadnasrbija.jpg">
        </div>
        <div class="ui avatar image" data-tooltip="South Serbia" (click)="selectRegion('southSerbia')">
            <img id="juznaSrbija" src="../assets/juznasrbija.jpg">
        </div>
    </div>
</div>