<form class="ui form" (submit)="createEvent(eventName.value)">
    <div class="field">
        <label>Event's name</label>
        <input type="text" #eventName>
    </div>
    <br>
    <div>
        <label>Sport</label>
        <select class="ui search dropdown" (change)="setSport($event.target.value)"> 
       <option value="">Select sport</option>
      <option *ngFor="let sport of sports | async" value="{{sport.sport}}">{{sport.sport}}</option>
   </select>
    </div>
    <br>
    <div>
        <label>Town</label>
        <select class="ui search dropdown" id="sel" (change)="getPlaces($event.target.value)"> 
       <option value="">Select town</option>
      <option *ngFor="let town of towns | async" id="{{town.$key}}" value="{{town.$key}}">{{town.name}}</option>
   </select>
    </div>
    <br>
    <div>
        <label>Place</label>
        <select class="ui search dropdown" (change)="setPlace($event.target.value)"> 
       <option value="">Select place</option>
        <option *ngFor="let place of places | async" value="{{place.name}}">{{place.name}}</option>
   </select>
    </div>
    <br>
    <div class="field">
        <label>Date</label>
        <input type="date" (change)="setDate($event.target.value)" />
    </div>
    <div class="field">
        <label>Time</label>
        <input type="time" (change)="setTime($event.target.value)" />
    </div>
    <div>
        <button type="submit" class="ui right labeled icon button">
            <i class="right arrow icon"></i>
            Next
        </button>
    </div>
</form>